<h1>Sign Up Below:</h1>
<form method="post" action= '/registrations'>
  <p>Name:<input type="text" id="name" name="name"></p><br>
 <p>Email:<input type="text" id="email" name="email"></p><br>
  <p>Password:<input id="text" type="password" name="password"></p><br>
  <input type="submit" value="Sign Up">
</form>


